mkdocs-materialx==10.1.8
properdocs>=1.6.5
mkdocs-awesome-nav
mkdocs-minify-plugin>=0.7
mkdocs-glightbox>=0.5
mkdocs-rss-plugin
# Required by the "social" plugin (social cards), built in CI
pillow>=10.2
cairosvg>=2.6
